*,
::after,
::before {
  box-sizing: border-box;
  font-family: "Roboto";
}

body {

  background-color: aliceblue;
}

.ghostCard {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

.ghostCard h3{
  text-align: center;
}

.ghostCardInput{
  
  padding-bottom: 1rem;
}

/* controls Button component */
button.MuiButton-root {
  margin-top: 1rem;

}

.ghostCard button{
    background: #BB94C7;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

div.MuiPaper-root {

  background-color: aliceblue;
}