.landing-page {
  background-color: #e1efe6;
  color: #0b4f6c;

  nav {
    width: var(--fluid-width);
    max-width: var(--max-width);
    margin: 0 auto;
    height: var(--nav-height);
    display: flex;
    align-items: center;
  }
  .page {
    min-height: calc(120vh - var(--nav-height));
    display: grid;
    align-items: center;
    margin-top: -3rem;
    // height: 600px;
  }
  h1 {
    font-weight: 700;
    span {
      color: var(--primary-500);
      color:#ffa630;
      // color: #0b4f6c;
      // background-color: #ffa630;
      // text-align: center;
    }
  }
  p {
    color: var(--grey-600);
    color: #0b4f6c;
  }
  .main-img {
    display: none;
  }
  @media (min-width: 992px) {
    .page {
      grid-template-columns: 1fr 1fr;
      column-gap: 3rem;
    }
    .main-img {
      display: block;
    }
  }

  a {
    background: #ffa630;
    color: #0b4f6c;
  }
}
