* {
    box-sizing: border-box;
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
}

.root {
    margin: 0;
    display: flex;
    padding: 0;
    font-size: 50%;
    background-color: #717C89;
}

.navbar{
    width: 20%;
    float: left;
}

.navbar .links{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar h1 {
    background-color: #C7BADC;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.title {
    font-size: 3rem;
    color: #456990;
}

.navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar li{
    margin: 1px 0;
    border: 1px solid #999;
}

.navbar li a {
    height: 50%;
    display: flex;
    align-self: center;
    padding: .25rem;
    display: block;
    line-height: 1em;
    width: 100%;
    text-decoration: none;
    text-align: center;
}

.navbar li:active{
    text-decoration: underline;
    background-color: #999;
    color: #CDACA1;
}

.navbar li:hover {
    background-color: #C7BADC;
}