* {
    box-sizing: border-box;
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
}

.navbar{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 1rem;
    padding-top: 1rem;
}

.navbar a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #0B4F6C;
    display: float;
    transition: 0.3s;
}

.navbar .title {
    font-size: 50px;
    color: #0B4F6C;
}

.navbar .links{
    margin: 1rem;
    padding: 0;
    list-style: none;
    position: fixed;
}

.navbar li{
    margin: 5px 0;
    border: 1px none #999;
    text-align: left;
}

.navbar ul a:active{
    background-color: #E1EFE6;
    color: #E1EFE6; 
}

.navbar li:hover {
    background-color: #E1EFE6;
}

