.sub-card {
    div.MuiPaper-root {
      height: 40rem;
      width: 20rem;
    }
  
    div.MuiFormControl-root {
      padding: 1rem;
    }
  
    div.subCardInput {
      padding: 1rem;
    }
}
  
  